#sortiado {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.logo {
    text-align: center;
    margin: 20px;
}

.logo img {
    width: 50%;
}